@use 'tbm-mega-menu';
@use 'cus-options'; 
@use 'cus-mega-menu'; 
@use 'protocol-subnavigation';

.cus-navigation {
    width: 100%;
    .navbar {
        padding: 0;
    }
    
    // Modify extra div added by Drupal and Vue
    div.region,
    div[data-v-app] {
        width: 100%;
    }
}

.navbar-toggler {
    border: none;
    &:focus {
        box-shadow: none;
    }
}