@use "tbm-mega-menu";
@use "cus-options";
@use "cus-mega-menu";
@use "protocol-subnavigation";

.cus-navigation {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: var(--bs-body-bg);
  box-shadow: 0 -5px 1.5rem rgb(0, 0, 0);
  .navbar {
    padding: 0;
  }

  div.region,
  div[data-v-app] {
    width: 100%;
  }
}

.navbar-toggler {
  border: none;
  &:focus {
    box-shadow: none;
  }
}
