.cus-mega-menu {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  font-weight: 600;
}
.cus-mega-menu .cus-logo {
  height: 4rem;
}
.cus-mega-menu #mainNavigation {
  flex-grow: 0;
}
.cus-mega-menu .navbar-nav {
  column-gap: 0.5rem;
}
.cus-mega-menu .offcanvas-header {
  padding: 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
}
.cus-mega-menu .nav-link {
  color: var(--bs-primary);
  border-radius: 0.5rem;
}
.cus-mega-menu .nav-link.show, .cus-mega-menu .nav-link:hover {
  background-color: var(--bs-primary);
  color: var(--bs-tertiary-color);
}
.cus-mega-menu .nav-link.dropdown-toggle::after {
  display: none;
}
.cus-mega-menu .mega-menu-item {
  position: static;
}
.cus-mega-menu .mega-menu-drawer {
  padding: 1rem;
  margin: 0;
  left: 0;
  right: 0;
  z-index: 2;
  flex-direction: column;
  row-gap: 2rem;
  border-radius: 0;
  border: none;
  background-color: var(--bs-secondary-bg);
  color: black;
  box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.25);
}
.cus-mega-menu .mega-menu-drawer.show {
  display: flex;
}
.cus-mega-menu .mega-menu-drawer .mega-menu-drawer-internal {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}
.cus-mega-menu .mega-menu-drawer .nav-link {
  padding: 0;
  color: var(--bs-body-color);
  background-color: transparent;
}
.cus-mega-menu .mega-menu-drawer .sections-header {
  display: none;
}
.cus-mega-menu .mega-menu-drawer .level-1-item {
  list-style: none;
}
.cus-mega-menu .mega-menu-drawer .level-1-item .nav-link {
  font-size: 1.33rem;
  font-weight: 600;
  color: var(--cbd-content-accent);
}
.cus-mega-menu .mega-menu-drawer .level-1-item .nav-link:hover {
  opacity: 0.75;
}
.cus-mega-menu .mega-menu-drawer .level-2-items {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}
.cus-mega-menu .mega-menu-drawer .level-2-items .level-2-item {
  flex: 0 2 max(20% - 1.6rem, 12rem);
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.cus-mega-menu .mega-menu-drawer .level-2-items .level-2-item .nav-link {
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0 1px var(--bs-body-color);
  border-radius: unset;
}
.cus-mega-menu .mega-menu-drawer .level-2-items .level-2-item .nav-link:hover {
  opacity: 0.75;
}
.cus-mega-menu .mega-menu-drawer .level-2-items .level-2-item .level-3-items {
  max-height: 18rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.75rem;
}
.cus-mega-menu .mega-menu-drawer .level-2-items .level-2-item .level-3-items .nav-link {
  font-size: 0.8rem;
  font-weight: 400;
  box-shadow: none;
}
.cus-mega-menu .mega-menu-drawer .level-2-items .level-2-item .level-3-items .nav-link:hover {
  text-decoration: underline;
}
.cus-mega-menu .mega-menu-drawer .level-2-items .level-3-items-2-col {
  flex-basis: calc(40% - 1.6rem);
}
.cus-mega-menu .mega-menu-drawer .level-2-items .level-3-items-2-col .level-3-items {
  flex-wrap: wrap;
  column-gap: 1rem;
}
.cus-mega-menu .mega-menu-drawer .level-2-items .level-3-items-2-col .level-3-items .nav-item {
  width: calc(50% - 0.5rem);
}
.cus-mega-menu .mega-menu-drawer .level-2-items .cus-truncate .nav-link {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.cus-mega-menu .mega-menu-drawer .social-media-follow {
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
  box-shadow: 0 -1px var(--bs-body-color);
}
.cus-mega-menu .mega-menu-drawer .social-media-follow .social-media-title {
  font-size: 0.8rem;
}
.cus-mega-menu .mega-menu-drawer .social-media-follow .social-media-icons {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

html:dir(rtl) .offcanvas-header {
  flex-direction: row-reverse;
}
html:dir(rtl) .cus-mega-menu .mega-menu-drawer .level-2-items .level-3-items-2-col .level-3-items .nav-item {
  width: auto;
}

/*# sourceMappingURL=cus-mega-menu.css.map */
