.gbf-targets {
  padding: 2rem;
  background-color: #1e1e1e;
  .row-title {
    color: var(--bs-tertiary-color);
  }
  .content-wrapper {
    column-gap: 0.5rem;
  }
  .pages {
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    column-gap: 0.5rem;
    align-items: center;
    justify-content: center;
    list-style: none;
    .page {
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 0.5rem;
      background-color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      &.selected {
        cursor: default;
        background-color: var(--bs-body-bg);
      }
    }
  }
  .gbf-links {
    display: flex;
    column-gap: 1rem;
    justify-content: center;
    .cta-primary {
      padding: 0.5rem;
      font-size: 1rem;
      font-weight: 600;
      border-radius: 0.33rem;
      box-shadow: 0 0.33rem 0.5rem rgba(0, 0, 0, 0.5);
      color: var(--bs-tertiary-color);
      background-color: var(--cc_accent);
    }
    .cta-arrow {
      display: flex;
      column-gap: 0.5rem;
      &::after {
        content: url(//cbd.int.ddev.site/themes/custom/custom/cbd_int_theme/_assets/images/icon_arrow-circle-right_full.svg);
        display: flex;
      }
    }
  }
  .gbf-target-1 {
    --cc_gbf-target: 80, 185, 35;
    .header {
      background-image: url(//cbd.int.ddev.site/themes/custom/custom/cbd_int_theme/_assets/images/target-1.jpg);
    }
  }
  .gbf-target-2 {
    --cc_gbf-target: 118, 166, 6;
    .header {
      background-image: url(//cbd.int.ddev.site/themes/custom/custom/cbd_int_theme/_assets/images/target-2.jpg);
    }
  }
  .gbf-target-3 {
    --cc_gbf-target: 150, 192, 66;
    .header {
      background-image: url(//cbd.int.ddev.site/themes/custom/custom/cbd_int_theme/_assets/images/target-3.jpg);
    }
  }
}

.content-object.gbf-target {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bs-secondary-bg);
  box-shadow: none;
  .header {
    width: 100%;
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-position: center;
    background-size: cover;
    .information {
      width: 14rem;
      padding: 1rem;
      flex-direction: column;
      color: var(--bs-tertiary-color);
      background-color: rgba(10, 10, 10, 0.75);
      .title {
        font-size: 1.25rem;
        font-weight: 600;
      }
      .description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .title,
      .description {
        a {
          color: var(--bs-tertiary-color);
        }
      }
    }
  }
  .resources {
    .resource-title {
      font-weight: 600;
    }
    width: 100%;
    padding: 1rem;
    flex: 1 2 auto;
    font-size: 0.8rem;
  }
  .links {
    padding: 0 1rem;
    font-size: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    a {
      // width: 6rem;
      flex: 1 1 calc(33% - 0.66rem);
      display: flex;
      align-items: center;
    }
  }
  .view-target {
    padding: 0.5rem;
    font-weight: 600;
  }
}

.related-content {
  .gbf-targets {
    padding: 0;
    background-color: transparent;
    .row-title {
      color: var(--bs-body-color);
    }
  }
}
