.search-item.content-object {
  padding: 0 0 1rem;
  flex-direction: row;
  column-gap: 1rem;
  flex-wrap: wrap;
  box-shadow: 0 1px var(--bs-secondary-bg);

  .content-image-wrapper {
    max-width: 18rem;
    flex: 1 1 auto;
  }

  .content-image {
    width: 100%;
    height: 100%;
  }

  .content-information-wrapper {
    flex: 1 1 0;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &.article {
    .content-information-wrapper {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  .information {
    flex: 1 0 0;
    flex-direction: column;
    row-gap: 0.5rem;
    justify-content: flex-start;
    align-items: flex-start;

    & > *:empty {
      display: none;
    }

    .date {
      order: 0;
      align-self: flex-start;
    }
    .title {
      height: fit-content;
      font-size: 1rem;
      order: 1;
      white-space: wrap;
      color: var(--bs-body-color);
      &:hover {
        text-decoration: underline;
      }
    }
    .taxonomy {
      order: 2;
    }
    .source,
    .type {
      font-size: 0.78rem;
    }
    .notifications-to {
      order: 3;
    }
    .subjects {
      order: 4;
    }
    .action-required {
      order: 5;
    }
    .description {
      order: 9;
      img,
      figure,
      iframe {
        display: none !important;
      }
      * {
        font-size: 1rem !important;
      }
    }
  }

  .files {
    flex: 0 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.778rem;
    font-weight: 600;

    .files-title {
      width: 100%;
      padding-bottom: 0.5rem;
      text-align: center;
      box-shadow: 0 1px var(--bs-body-color);
    }
  }

  .read-on-wrapper {
    flex: 1 1 100%;
    padding-top: 0;
    justify-content: flex-start;
    align-items: center;
  }
}
