{# {% if content %}
  <div {{ attributes }}>
    <div class="block-inner">
      {{ content }}
    </div>
  </div>
{% else %} #}
<div class="social-media-follow">
  <div class="social-media-title">
      Follow us on social media
  </div>
  <div class="social-media-icons">
      <a href="#" target="_blank"><img src="//cbd.int.ddev.site/themes/custom/custom/cbd_int_theme/_assets/images/icons/icon_social-yt.svg" alt="Follow us on YouTube" class="social-media-icon"></a>
      <a href="#" target="_blank"><img src="//cbd.int.ddev.site/themes/custom/custom/cbd_int_theme/_assets/images/icons/icon_social-fb.svg" alt="Follow us on Facebook" class="social-media-icon"></a>
      <a href="#" target="_blank"><img src="//cbd.int.ddev.site/themes/custom/custom/cbd_int_theme/_assets/images/icons/icon_social-x.svg" alt="Follow us on X" class="social-media-icon"></a>
      <a href="#" target="_blank"><img src="//cbd.int.ddev.site/themes/custom/custom/cbd_int_theme/_assets/images/icons/icon_social-li.svg" alt="Follow us on LinkedIn" class="social-media-icon"></a>
      <a href="#" target="_blank"><img src="//cbd.int.ddev.site/themes/custom/custom/cbd_int_theme/_assets/images/icons/icon_social-ig.svg" alt="Follow us on Instagram" class="social-media-icon"></a>
  </div>
</div>
{# {% endif %} #}
