.cus-serp {
  .results-info-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
  }

  .results-info {
    padding-bottom: 0.5rem;
    box-shadow: 0 1px var(--bs-secondary-bg);
  }

  .results-pagination {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5rem;

    .page {
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      &:not(.current-page) {
        cursor: pointer;
        &:hover {
          background-color: var(--bs-secondary-bg);
        }
      }
      &.current-page {
        color: var(--bs-tertiary-color);
        background-color: var(--bs-tertiary-bg);
      }
    }
  }

  .search-results-items {
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }
}
