.breadcrumbs {
  width: 100%;
  padding: 1rem;
  font-size: 0.8rem;
  --bs-breadcrumb-divider: ">";
  background: var(--bs-secondary-bg);
  .breadcrumb {
    margin-bottom: 0;
    .breadcrumb-item::first-letter {
      text-transform: capitalize;
    }
  }
}

.cus-article {
  .breadcrumbs {
    padding: 0;
    background: transparent;
  }
}

html:dir(rtl) {
  .breadcrumb-item + .breadcrumb-item::before {
    float: right;
    padding-left: var(--bs-breadcrumb-item-padding-x);
  }
  .breadcrumb-item {
    padding-left: var(--bs-breadcrumb-item-padding-x);
  }
}
