.cus-aside {
  flex: 1 1 20rem;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  align-self: flex-start;
  background-color: var(--bs-body-bg);

  .nav {
    flex-direction: column;
  }
}

.aside-nav {
  .nav-link {
    font-size: 0.8rem;
    color: var(--bs-body-color);

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    &:active {
      font-weight: 600;
    }
  }

  .nav-item:not(.aside-nav-header) {
    box-shadow: 0 1px var(--bs-secondary-bg);
  }

  .current-page.nav-link {
    font-weight: 600;
  }

  .level-3-item {
    background-color: var(--cbd-content-accent);
    box-shadow: none;
    color: var(--bs-secondary-bg);
    cursor: default;

    a {
      color: var(--bs-secondary-bg);
      font-size: 1rem !important;
      font-weight: 600;
    }
  }

  .level-4-item {
    &.current-page {
      font-weight: 600;
      box-shadow: 6px 0 inset var(--bs-body-color);
      border-bottom: solid 1.5px var(--bs-body-color);
    }
  }

  .level-5-items>.nav-item,
  .level-5-item>.current-page {
    background-color: var(--bs-secondary-bg);
    box-shadow: 0 1px var(--bs-secondary-bg);
    padding-left: 1rem;
  }

  .level-6-item.nav-item.current-page>.nav-link {
    box-shadow: 6px 0 inset var(--bs-body-color);
  }
}

.aside-nav.aside-collapsed {
  width: fit-content;
  padding: 0;
  flex: 1 1 auto;
  overflow: hidden;
  background-color: transparent;

  .nav {
    display: none;
  }
}

.aside-related-content {
  padding-top: 1rem;

  .nav {
    gap: 0.5rem;
  }

  &.mobile-inline {
    padding-top: 0;
    flex: 1 1 auto;
    position: static;
    display: none;

    .nav {
      flex: 1 1 auto;
      flex-direction: row;
    }
  }
}

html:dir(rtl) {
  .cus-aside {
    .nav {
      padding-right: 0;
    }
  }
}