.loader-wrapper {
  width: 100%;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-warning {
  width: 100%;
  display: none;
  .error-users {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    svg {
      width: 3rem;
      height: 3rem;
      animation: error-flash 1.5s ease-in-out infinite;
    }
    p {
      font-size: 1rem;
    }
  }
  .error-admin {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    color: var(--cbd-danger-color);
    span {
      text-transform: capitalize;
    }
  }
}

.loader {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 32px 0 #fff, -32px 0 #fff;
  position: relative;
  animation: flash 0.5s ease-out infinite alternate;
}

.error-loader .loader {
  display: none;
}

.error-loader .error-warning {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
}

@keyframes flash {
  0% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff2, -32px 0 #fff;
  }

  50% {
    background-color: #fff;
    box-shadow: 32px 0 #fff2, -32px 0 #fff2;
  }

  100% {
    background-color: #fff2;
    box-shadow: 32px 0 #fff, -32px 0 #fff2;
  }
}

@keyframes error-flash {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.8;
  }
}
